## Injesting Data

In [1]:
## Ingest the Data and understand the Data
# first I have to import all necessary libraries

#used to create dataframes
import pandas as pd 

#Analyze the Data
import seaborn as sns #used to create graphs/ pairplots

#Create a Machine Learning Model

#used to import the confusion matrix graphical chart
from sklearn.metrics import plot_confusion_matrix

# used to show report of model accuracy
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

# Save the Machine Learning Model
import joblib #saves the model

In [2]:
#convert csv import to a dataframe 
df = pd.read_csv('SF_DS_v3.csv')

In [3]:
#to see the first 5 rows
df.head()

   Sales  Services  Marketing  Churn
0  293.6      27.7        1.8      1
1  292.9      28.3       43.2      0
2  290.7       4.1        8.5      1
3  281.4      39.6       55.8      0
4  266.9      43.8        5.0      0

In [4]:
#to see the last 5 rows of data
df.tail()

    Sales  Services  Marketing  Churn
93   13.2      15.9       49.6      1
94    8.7      48.9       75.0      0
95    8.6       2.1        1.0      1
96    7.3      28.1       41.4      1
97    5.4      29.9        9.4      1

## Understanding the Data

>machine learning can only process numerical data

In [5]:
#check data types and analyze non-null count
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sales      98 non-null     float64
 1   Services   98 non-null     float64
 2   Marketing  98 non-null     float64
 3   Churn      98 non-null     int64
dtypes: float64(3), int64(1)
memory usage: 3.2 KB

In [6]:
#describes data based on values
df.describe()

            Sales   Services   Marketing      Churn
count   98.000000  98.000000   98.000000  98.000000
mean   145.832653  24.458163   32.515306   0.653061
std     83.504197  14.426278   21.989437   0.478443
min      5.400000   1.400000    0.300000   0.000000
25%     71.625000  12.950000   16.150000   0.000000
50%    141.100000  25.600000   30.650000   1.000000
75%    215.975000  36.150000   45.550000   1.000000
max    293.600000  49.600000  114.000000   1.000000

In [7]:
#define churn and how i created the column 
#view counts based on the value of the churn column how many values churn vs how many won't #mention unbalance numbers
df['Churn'].value_counts()9

SyntaxError: invalid syntax (2212868765.py, line 3)

## Analyze the Data

> A **pairplot** compares columns of data and data correllation

In [ ]:
#use pairplot to to see comparison of churn values in feature columns
sns.pairplot(df,hue='Churn')

## Creating a Machine Learning Model

> **Supervised learning** is when you have data that you are trying to perdict

>**Unsupervised learning** is when you don't have the data you are trying to perdict

> **Label Column** is the column being perdicted
  
> **Feature Columns** are the other columns that won't be perdicted

In [ ]:
#create a feature variable by dropping churn column axis 1 means churn column
X = df.drop('Churn',axis=1)

In [ ]:
#to only see the feature columns 
X

In [ ]:
#to associate y to churn column
y = df['Churn']

In [ ]:
#to see churn values and info of first and last 5 rows of data
y

> **sklearn.model_selection** is a library and test train split is a function within the library

>**test train split function** takes x and y and makes a subset of for training and a subset for testing to check the accuracy of model

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train

> **Regression** problems perdicts numbers 

>**Classification** problems perdict a class label (since theres only 2 choices to predict)

>**hyperparameters** adjustable parameters that must be tuned in order to obtain a model with optimal performance**

In [ ]:
#n_estimators,max_features are hyper parameters
model = RandomForestClassifier(n_estimators=10,max_features='auto',random_state=42)

In [ ]:
#fitting the model is the same as training the model
model.fit(X_train, y_train)

In [ ]:
#perdict model to see accuracy
y_preds=model.predict(X_test)

## Validating The Machine Learning Model

> **confusion matrix** is used to test accuracy of classification models

In [ ]:
#create a confusion matrix compares actual values to predictions
plot_confusion_matrix(model,X_test,y_preds)

In [ ]:
#visualize classification report that shws accuracy %
print(classification_report(y_test,y_preds))

In [ ]:
#to predict random numbers in model 
model.predict([[67, 65, 46]])

In [ ]:
#to use/fit the model on all the data

## Save & Deploy the Machine Learning Model

In [ ]:
#save model as a pkl file (machine learning format best practice)
joblib.dump(model,'jade_model.pkl')

In [ ]:
#save columns as a pkl file
joblib.dump(list(X.columns),'jade_columns.pkl')

In [ ]:
#load saved model
loaded_model = joblib.load('jade_model.pkl')